div {
    border: 1px solid;
}

img:not(.display-small, #logo-nav img) {
    display: block;
    margin-left:auto;
    margin-right: auto;
}

@media screen and (max-width: 500px) {
    .display-small {
        display: none;
    }

    header {
        margin: auto
    }
}

@media screen and (min-width: 1280px) {
    h2 {
        margin-bottom: 1.5em;
    }
}