.block {
    margin-bottom: 4em;
}

.page-content{
    padding-bottom: 10%;
}

.center {
    text-align: center;
}
.display-large{
    margin-bottom: 1em;
}
@media screen and (max-width: 500px) {
    .display-small {
        display: none;
    }

    .center {
        text-align: inherit
    }
}

@media screen and (min-width: 500px) {
    .display-large {
        display: none;
    }
}