{% extends "admin/base.html.twig" %}

{% block stylesheets %}
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
    <script>
        tinyMCE.init({
            selector:"textarea"
        });
    </script>
{% endblock %}

{% block body %}
    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button type="submit">Enregistrer</button>

    {{ form_end(form) }}
{% endblock %}