{% extends "base.html.twig" %}
{% block stylesheets %}
    <link href="{{ asset('CSS/catalog.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-12" style="border-style: solid;">
                <div class="row">
                    <div class="col-sm-11 col-md-12 col-lg-5" style="border-style: solid;">
                        <img src="images/presentation.jpg" alt="Bootstrap" class="img-fluid">
                    </div>
                    <div class="offset-lg-1 col-xs-11 col-md-12 col-lg-5" style="border-style: solid;">
                        <h2>Subtitle</h2>
                        <p>Advenit post multos Scudilo Scutariorum tribunus velamento subagrestis ingenii persuasionis opifex callidus. qui eum adulabili sermone seriis admixto solus omnium proficisci pellexit vultu adsimulato saepius replicando quod flagrantibus votis eum videre frater cuperet patruelis, siquid per inprudentiam gestum est remissurus ut mitis et clemens, participemque eum suae maiestatis adscisceret, futurum laborum quoque socium, quos Arctoae provinciae diu fessae poscebant.</p>

                        <p>Alii nullo quaerente vultus severitate adsimulata patrimonia sua in inmensum extollunt, cultorum ut puta feracium multiplicantes annuos fructus, quae a primo ad ultimum solem se abunde iactitant possidere, ignorantes profecto maiores suos, per quos ita magnitudo Romana porrigitur, non divitiis eluxisse sed per bella saevissima, nec opibus nec victu nec indumentorum vilitate gregariis militibus discrepantes opposita cuncta superasse virtute.</p>
                        <div class="col-md-12 col-lg-12 button_catalog_subtitle" style="border-style: solid;">
                            <input type="button" value="Button" class="btn btn-secondary btn-lg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-around">
            <div class ="col-md-3 col-lg-3" style="border-style: solid;">
                <div class="col-md-11 col-lg-11" style="border-style: solid;">
                    <div class="col-md-12 col-lg-12">
                        <h1>Big Title</h1>
                    </div>
                    <div class="row justify-content-lg-center">
                        <div class="col-md-11 col-lg-11" style="border-style: solid;">
                            <table>
                                <tr>
                                    <td>Item One</td>
                                </tr>
                                <tr>
                                    <td>Item Two</td>
                                </tr>
                                <tr>
                                    <td>Item Three</td>
                                </tr>
                                <tr>
                                    <td>Item One</td>
                                </tr>
                                <tr>
                                    <td>Item Two</td>
                                </tr>
                                <tr>
                                    <td>Item Three</td>
                                </tr>
                                <tr>
                                    <td>Item One</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 button_catalog_bigtitle">
                        <input type="button" value="Button" class="btn btn-secondary btn-lg">
                    </div>
                </div>
            </div>

            <div class ="col-md-3 col-lg-3" style="border-style: solid;">
                <div class="col-md-11 col-lg-11" style="border-style: solid;">
                    <div class="col-md-12 col-lg-12">
                        <h1>Big Title</h1>
                    </div>
                    <div class="row justify-content-lg-center">
                        <div class="col-md-11 col-lg-11" style="border-style: solid;">
                            <table>
                                <tr>
                                    <td>Item One</td>
                                </tr>
                                <tr>
                                    <td>Item Two</td>
                                </tr>
                                <tr>
                                    <td>Item Three</td>
                                </tr>
                                <tr>
                                    <td>Item One</td>
                                </tr>
                                <tr>
                                    <td>Item Two</td>
                                </tr>
                                <tr>
                                    <td>Item Three</td>
                                </tr>
                                <tr>
                                    <td>Item One</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 button_catalog_bigtitle">
                        <input type="button" value="Button" class="btn btn-secondary btn-lg">
                    </div>
                </div>
            </div>

            <div class ="col-md-3 col-lg-3" style="border-style: solid;">
                <div class="col-md-11 col-lg-11" style="border-style: solid;">
                    <div class="col-md-12 col-lg-12">
                        <h1>Big Title</h1>
                    </div>
                    <div class="row justify-content-lg-center">
                        <div class="col-md-11 col-lg-11" style="border-style: solid;">
                            <table>
                                <tr>
                                    <td>Item One</td>
                                </tr>
                                <tr>
                                    <td>Item Two</td>
                                </tr>
                                <tr>
                                    <td>Item Three</td>
                                </tr>
                                <tr>
                                    <td>Item One</td>
                                </tr>
                                <tr>
                                    <td>Item Two</td>
                                </tr>
                                <tr>
                                    <td>Item Three</td>
                                </tr>
                                <tr>
                                    <td>Item One</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 button_catalog_bigtitle">
                        <input type="button" value="Button" class="btn btn-secondary btn-lg">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-md-2 offset-lg-2 col-md-8 col-lg-8" style="border-style: solid;">
                <div class="row d-flex justify-content-around">
                    <div class ="col-md-3 col-lg-3 " style="border-style: solid;">
                        <img src="images/discount.png" alt="Bootstrap" class="rounded mx-auto d-block" style="width: 150px;">
                        <p>Advenit post multos Scudilo Scutariorum tribunus velamento subagrestis ingenii persuasionis opifex callidus. qui eum adulabili sermone seriis admixto solus omnium proficisci pellexit vultu adsimulato saepius replicando quod flagrantibus votis eum videre frater cuperet patruelis.</p>
                    </div>
                    <div class ="col-md-3 col-lg-3 " style="border-style: solid;">
                        <img src="images/discount.png" alt="Bootstrap" class="rounded mx-auto d-block" style="width: 150px;">
                        <p>Advenit post multos Scudilo Scutariorum tribunus velamento subagrestis ingenii persuasionis opifex callidus. qui eum adulabili sermone seriis admixto solus omnium proficisci pellexit vultu adsimulato saepius replicando quod flagrantibus votis eum videre frater cuperet patruelis.</p>
                    </div>
                    <div class ="col-md-3 col-lg-3 " style="border-style: solid;">
                        <img src="images/discount.png" alt="Bootstrap" class="rounded mx-auto d-block" style="width: 150px;">
                        <p>Advenit post multos Scudilo Scutariorum tribunus velamento subagrestis ingenii persuasionis opifex callidus. qui eum adulabili sermone seriis admixto solus omnium proficisci pellexit vultu adsimulato saepius replicando quod flagrantibus votis eum videre frater cuperet patruelis.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-md-2 offset-lg-2 col-md-8 col-lg-8" style="border-style: solid;">
                <div class="row d-flex justify-content-around">
                    <div class ="col-md-3 col-lg-3 " style="border-style: solid;">
                        <img src="images/discount.png" alt="Bootstrap" class="rounded mx-auto d-block" style="width: 150px;">
                        <p>Advenit post multos Scudilo Scutariorum tribunus velamento subagrestis ingenii persuasionis opifex callidus. qui eum adulabili sermone seriis admixto solus omnium proficisci pellexit vultu adsimulato saepius replicando quod flagrantibus votis eum videre frater cuperet patruelis.</p>
                    </div>
                    <div class ="col-md-3 col-lg-3 " style="border-style: solid;">
                        <img src="images/discount.png" alt="Bootstrap" class="rounded mx-auto d-block" style="width: 150px;">
                        <p>Advenit post multos Scudilo Scutariorum tribunus velamento subagrestis ingenii persuasionis opifex callidus. qui eum adulabili sermone seriis admixto solus omnium proficisci pellexit vultu adsimulato saepius replicando quod flagrantibus votis eum videre frater cuperet patruelis.</p>
                    </div>
                    <div class ="col-md-3 col-lg-3 " style="border-style: solid;">
                        <img src="images/discount.png" alt="Bootstrap" class="rounded mx-auto d-block" style="width: 150px;">
                        <p>Advenit post multos Scudilo Scutariorum tribunus velamento subagrestis ingenii persuasionis opifex callidus. qui eum adulabili sermone seriis admixto solus omnium proficisci pellexit vultu adsimulato saepius replicando quod flagrantibus votis eum videre frater cuperet patruelis.</p>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 button_catalog_bigtitle">
                    <input type="button" value="Button" class="btn btn-secondary btn-lg">
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class ="col-md-5 col-lg-5"  style="border-style: solid;">
                <div class="row d-flex justify-content-around">
                    <div class ="col-md-5 col-lg-5"  style="border-style: solid;">
                        <img src="images/presentation.jpg" alt="Bootstrap" class="img-fluid">
                    </div>
                    <div class ="col-md-5 col-lg-5"  style="border-style: solid;">
                        <p>Advenit post multos Scudilo Scutariorum tribunus velamento subagrestis ingenii persuasionis opifex callidus. qui eum adulabili sermone seriis admixto solus omnium proficisci pellexit vultu adsimulato saepius replicando quod flagrantibus votis eum videre frater cuperet patruelis.</p>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 button_catalog_bigtitle">
                    <input type="button" value="Button" class="btn btn-secondary btn-lg">
                </div>
            </div>
        </div>
    </div>
{% endblock %}