{% extends "base.html.twig" %}
{% block stylesheets %}
    <link href="{{ asset('CSS/references.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <header>
            <div class="row justify-content-around">
                <div class="col-xs-12 col-lg-5 justify-content-around">
                    <div class="row col-xs-6">
                        <h1>A Big Title</h1>
                    </div>
                    <div class="row col-xs-6">
                        <h2>A Subtitle</h2>
                    </div>
                    <div class="row">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nimis multa. Honesta oratio,
                            Socratica, Platonis etiam. Id enim volumus, id contendimus, ut officii fructus sit ipsum
                            officium. Vidit Homerus probari fabulam non posse, si cantiunculis tantus irretitus vir
                            teneretur; </p>
                        <p>Et non ex maxima parte de tota iudicabis? Paulum, cum regem Persem captum adduceret,
                            eodem flumine invectio? Ut placet, inquit, etsi enim illud erat aptius, aequum cuique
                            concedere.
                            Duo Reges: constructio interrete. Neque solum ea communia, verum etiam paria esse
                            dixerunt. </p>
                    </div>
                </div>
                <div class="col-lg-5 display-small">
                    <img src="{{ asset('images/img.jpeg') }}" class="img-fluid ">
                </div>
            </div>
        </header>

        <div class="row block">
            <div class="offset-lg-2 col-xs-12 col-lg-8" style="border-style: solid;">
                <div class="row d-flex justify-content-around">
                    <div class="col-xs-12 col-lg-6 thumbnail">
                        <div class="caption text-center">
                            <h1>Example headline.</h1>
                            <h2>Subtitle</h2>
                        </div>
                        <img src="images/presentation.jpg" alt="Bootstrap" class="img-fluid img-responsive">
                        <div class="row justify-content-around display-large">
                            <a>
                                <button>Button</button>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-6 thumbnail">
                        <div class="decale">
                            <div class="caption text-center">
                                <h1>Example headline.</h1>
                                <h2 class="display-small">Subtitle</h2>
                            </div>
                            <img src="images/presentation.jpg" alt="Bootstrap" class="img-fluid img-responsive">
                            <div class="row justify-content-around display-large">
                                <a>
                                    <button>Button</button>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row block">
            <div class="offset-lg-2 col-xs-12 col-lg-8" style="border-style: solid;">
                <div class="row d-flex justify-content-around">
                    <div class="col-xs-12 col-lg-6 thumbnail">
                        <div class="caption text-center">
                            <h1>Example headline.</h1>
                            <h2 class="display-small">Subtitle</h2>
                        </div>
                        <img src="images/presentation.jpg" alt="Bootstrap" class="img-fluid img-responsive">
                        <div class="row justify-content-around display-large">
                            <a>
                                <button>Button</button>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-lg-6 thumbnail">
                        <div class="decale">
                            <div class="caption text-center">
                                <h1>Example headline.</h1>
                                <h2 class="display-small">Subtitle</h2>
                            </div>
                            <img src="images/presentation.jpg" alt="Bootstrap" class="img-fluid img-responsive">
                            <div class="row justify-content-around display-large">
                                <a>
                                    <button>Button</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row decale_bloc">
            <div class="offset-lg-2 col-xs-12 col-lg-8" style="border-style: solid;">
                <div class="row col-xs-1 col-lg-12 justify-content-center">
                    <h1>A title</h1>
                </div>
                <div class="row col-xs-1 col-lg-12 justify-content-center">
                    <h2>Subtitle</h2>
                </div>
                <div class="row d-flex justify-content-around">
                    <div class="col-md-4 col-lg-4" style="border-style: solid;">
                        <img src="images/presentation.jpg" alt="Bootstrap" class="img-fluid">
                    </div>
                    <div class="col-md-6 col-lg-6" style="border-style: solid;">
                        <p>Advenit post multos Scudilo Scutariorum tribunus velamento subagrestis ingenii persuasionis
                            opifex callidus. qui eum adulabili sermone seriis admixto solus omnium proficisci pellexit
                            vultu adsimulato saepius replicando quod flagrantibus votis eum videre frater cuperet
                            patruelis.</p>
                        <div class="row justify-content-around">
                            <a>
                                <button>Button</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}